<div class="container section text-center">
    <h1 class="text-9xl text-danger mb-1">500</h1>
    <h2 class="mb-2">Breakdown!</h2>
    <p class="text-muted mb-2">Something went wrong on our end. We're working on fixing it.</p>
    <a href="/" class="pure-button btn-primary">Try Again</a>
</div>
